body {
	margin: 0;
	padding: 0;
	background: url("#{resource['images:mainbackground.jpg']}");
	background-size: cover;
	background-repead: no-repeat;
}

.wrapper {
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.45);
}

/* Meni sa opcijama - dock */
.ui-menuitem-link .ui-corner-all {
	margin: 0 10px;
}

.ui-dock-container-top {
	position: absolute !important;
	z-index: 99;
}
#staffMenu..ui-dock-container-top {
	position: absolute !important;
	z-index: 99;
}
#staffMenu {
	margin-top: -5.0em;
	margin-right: 4.5em;
}

#staffMenu a {
	color: #e8a800;
}
/* Navigacioni bar container */
.nav-bar {
	position: relative;
	margin: 5px;
	height: 100px;
	background-color: #f5f5f5;
	border: 2px solid black;
	border-radius: 9px;
}

.nav-bar .logo {
	width: 150px;
	height: 100px;
	border-radius: 9px;
}
/* Staff full name and welcome message */
.logged-staff {
	color: #FFD15C;
	padding: 5px;
	background-color: #757575;
	border-radius: 10px;
	position: absolute;
	left: 170px;
	top: 30px;
	font-size: 30px;
	font-weight: bolder;
	-webkit-box-shadow: 0px 0px 20px 15px #757575;
	box-shadow: 0px 0px 20px 15px #757575;
}