<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:p="http://primefaces.org/ui">
	
<head>
<title>Customer component</title>
</head>
<body>
	<composite:interface>
		<composite:attribute name="staff" required="true" />
	</composite:interface>
	<composite:implementation>
		<h:panelGroup layout="block" styleClass="all-staff-customers">
			<p:outputLabel value="CUSTOMER" />
		</h:panelGroup>
	</composite:implementation>
</body>
</html>