<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Composite component for staff's HOME page</title>
</h:head>
<h:body>
	<composite:interface>
		<composite:attribute name="staff" required="true" />
	</composite:interface>
	<composite:implementation>
		<div class="search-bar">
			<p:menubar styleClass="search-menu">
				<p:menuitem styleClass="search-items">
					<p:outputLabel value="Search films: " for="searchFilmsInput" />
					<p:inputText id="searchFilmsInput" value="#{home.searchFilmValue}">
						<p:ajax event="keyup" listener="#{home.onSearchFilms}"
							update="staffAllFilms" />
					</p:inputText>
				</p:menuitem>
				<p:menuitem styleClass="search-items">
					<p:selectOneMenu value="#{home.searchRating}">
						<p:ajax event="change" listener="#{home.onSearchFilms}"
							update="staffAllFilms" />
						<f:selectItem itemLabel="All ratings" itemValue="dumy" />
						<f:selectItems value="#{home.filmsRatings}" var="rating"
							itemLabel="#{rating}" itemValue="#{rating}" />
					</p:selectOneMenu>
				</p:menuitem>
				<p:menuitem styleClass="search-items">
					<p:selectCheckboxMenu value="#{home.searchCategories}"
						label="Categories">
						<p:ajax listener="#{home.onSearchFilms}" update="staffAllFilms" />
						<f:selectItems value="#{home.filmsCategories}" />
					</p:selectCheckboxMenu>
				</p:menuitem>
				<p:menuitem styleClass="search-items">
					<h:panelGroup layout="block">
						<p:outputLabel for="searchRentalRate" value="Rental rate:" />
						<p:inputNumber id="searchRentalRate"
							placeholder="from 0.99 to 4.99" value="#{home.searchRentalRate}"
							style="color:white;" minValue="0.99" maxValue="4.99">
							<p:ajax event="change" listener="#{home.onSearchFilms}"
								update="staffAllFilms" />
						</p:inputNumber>
						<p:slider for="searchRentalRate" minValue="0.99" maxValue="4.99"
							step="0.1" />
					</h:panelGroup>
				</p:menuitem>
				<p:menuitem styleClass="search-items">
					<h:panelGroup layout="block">
						<p:outputLabel for="searchDuration" value="Film duration:" />
						<p:inputNumber id="searchDuration" placeholder="from 0.99 to 4.99"
							value="#{home.searchDuration}" style="color:white;" minValue="1"
							maxValue="300">
							<p:ajax event="change" listener="#{home.onSearchFilms}"
								update="staffAllFilms" />
						</p:inputNumber>
						<p:slider for="searchDuration" minValue="1" maxValue="300"
							step="1" />
					</h:panelGroup>
				</p:menuitem>
			</p:menubar>
		</div>
		<div class="all-flims">
			<p:dataGrid var="film" value="#{home.filmsInStore}" columns="4"
				styleClass="rec-film-data" layout="grid" rows="20" paginator="true"
				id="staffAllFilms" paginatorPosition="bottom"
				paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
				<f:facet name="header">
					All films in this store
        		</f:facet>
				<p:commandLink update=":selectedFilm" actionListener="#{home.toggleRenderSelectedFilmData}"
					oncomplete="PF('filmDialog').show()" style="text-decoration: none;">
					<f:setPropertyActionListener value="#{film}"
						target="#{home.selectedFilm}"/>
					<p:panel styleClass="panel-rec-film" header="#{film.title}"
						style="text-align:center">
						<h:panelGrid styleClass="film-description" columns="1"
							style="width:100%">
							<h:outputText value="#{film.description}" />
						</h:panelGrid><br></br>
						<h:outputText value="Rental rate: $#{film.rentalRate}" />
					</p:panel>
				</p:commandLink>
			</p:dataGrid>
		</div>
	</composite:implementation>
</h:body>
</html>