<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:composite="http://java.sun.com/jsf/composite">
<head>
<title>Not present in rendered output</title>
</head>
<body>
	<composite:interface>

	</composite:interface>
	<composite:implementation>
		<p:panelGrid class="selected-film-dialog-content">
			<p:panel>
				<h3>#{home.selectedFilm.description}</h3>
			</p:panel>
			<div class="ui-g">
				<h:panelGroup styleClass="ui-g-6" layout="block"
					id="selectedFilmActors">
					<p:commandLink value="Show actors"
						actionListener="#{home.onSelectFilmActors}"
						update="selectedFilmActors" />
					<p:dataList rendered="#{home.renderFilmActors}" var="actor"
						value="#{home.selectedFilmActors}">
							#{actor}
					</p:dataList>
				</h:panelGroup>
				<h:panelGroup styleClass="ui-g-6" layout="block"
					id="selectedFilmCategories">
					<p:commandLink value="Show categories"
						actionListener="#{home.onSelectFilmCategories}"
						update="selectedFilmCategories" />
					<p:dataList rendered="#{home.renderFilmCategories}" var="category"
						value="#{home.selectedFilmCategories}">
							#{category}
					</p:dataList>
				</h:panelGroup>
			</div>
			<div class="ui-g">
				<div class="ui-g-6">
					<p:panel>
						<h3>Language: #{home.selectedFilm.language.name}</h3>
					</p:panel>
				</div>
				<div class="ui-g-6">
					<p:panel>
						<h3>Rating: #{home.selectedFilm.rating}</h3>
					</p:panel>
				</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-4">
					<p:panel>
						<h3>Rental rate: #{home.selectedFilm.rentalRate}</h3>
					</p:panel>
				</div>
				<div class="ui-g-4">
					<p:panel>
						<h3>Rental duration: #{home.selectedFilm.rentalDuration}</h3>
					</p:panel>
				</div>
				<div class="ui-g-4">
					<p:panel>
						<h3>Replacement cost: #{home.selectedFilm.replacementCost}</h3>
					</p:panel>
				</div>
			</div>
		</p:panelGrid>
	</composite:implementation>
</body>
</html>