<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Home page | VideoStore</title>
	<h:outputStylesheet library="css" name="navbar.css" />
	<h:outputStylesheet library="css" name="footer.css" />
	<h:outputStylesheet library="css" name="staffHome.css" />
	<h:outputScript library="js" name="vue.min.js" />
	<h:outputScript library="js" name="staffhome.js" />


</h:head>
<h:body>
	<h:form id="mainForm" prependId="false">
		<div class="wrapper">
			<div id="navbar" class="p-grid p-justify-between nav-bar">
				<div class="p-col-2">
					<div class="box">
						<p:graphicImage styleClass="logo" library="images"
							name="logoApp.png" />
					</div>
				</div>
				<div class="p-col-1">
					<div class="box">
						<p:outputLabel styleClass="logged-staff"
							value="Welcome, #{logIn.loggedStaff.username}" />
						<p:dock id="staffMenu" styleClass="staff-options" position="top"
							halign="right" itemWidth="55">
							<p:menuitem value="home" id="home"
								icon="#{resource['images:staff-options/home.png']}"
								actionListener="#{content.loadContent}" update="mainContent" />
							<p:menuitem value="Customers" id="customers"
								icon="#{resource['images:staff-options/customer.png']}"
								actionListener="#{content.loadContent}" update="mainContent" />
							<p:menuitem value="Inventory" id="inventory"
								icon="#{resource['images:staff-options/inventory.png']}"
								actionListener="#{content.loadContent}" update="mainContent" />
							<p:menuitem value="Payments" id="payments"
								icon="#{resource['images:staff-options/payments.png']}"
								actionListener="#{content.loadContent}" update="mainContent" />
							<p:menuitem value="Rental" id="rental"
								icon="#{resource['images:staff-options/rental.png']}"
								actionListener="#{content.loadContent}" update="mainContent" />
							<p:menuitem value="Personal data" id="staffData"
								icon="#{resource['images:staff-options/staff-data.png']}"
								actionListener="#{content.loadContent}" update="mainContent" />
							<p:menuitem value="Cart" id="cart"
								icon="#{resource['images:staff-options/cart.png']}"
								actionListener="#{content.loadContent}" />
							<p:menuitem value="Store" id="store"
								icon="#{resource['images:staff-options/store.png']}"
								actionListener="#{content.loadContent}" update="mainContent" />
							<p:menuitem value="Logout" id="logout"
								icon="#{resource['images:staff-options/logout.png']}"
								action="#{logIn.logOutUser()}" />
						</p:dock>
					</div>
				</div>
			</div>
			<div class="main-content">
				<ui:insert name="main-content">
					<!-- Glavni sadrzaj /maincontent.xhtml -->
				</ui:insert>
			</div>
			<div class="footer">
				<!-- Footer -->
			</div>
		</div>
	</h:form>
</h:body>
</html>