<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>
	<title>Log-In page| VideoStore</title>
	<h:outputStylesheet library="css" name="logIn.css"/>
</h:head>
<h:body>
	<h:form prependId="false">
		<p:growl id="growl-login" life="2500"/>
		
		<p:outputLabel value="STAFF LOGIN"/><br></br>
		
		<p:outputLabel id="usernameLabel" for="username" value="Username: " />
		<p:inputText id="username" placeholder="Enter your username"
			value="#{logIn.username}" validator="logInValidator" />

		<p:outputLabel id="passwordLabel" for="password" value="Password: " />
		<p:inputText id="password" placeholder="Enter your password"
			value="#{logIn.password}" validator="logInValidator" />
			
		<p:commandButton value="Log-in" action="#{logIn.logInUser()}" update="growl-login" />
	</h:form>
</h:body>
</html>