<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:co="http://xmlns.jcp.org/jsf/composite/components">

<h:head>
</h:head>
<h:body>
	<ui:composition template="/WEB-INF/templates/main.xhtml">
		<ui:define name="main-content">
			<h:panelGroup styleClass="maincontent" layout="block"
				id="mainContent">
				<h:panelGroup layout="block" id="homeContent"
					rendered="#{content.home}">
					<!-- Home -->
					<h:outputScript library="js" name="staffhome.js" />
					<co:homeComposite staff="#{logIn.loggedStaff}" />
					<!-- Dialog for selected film -->
					<p:dialog modal="true" widgetVar="filmDialog" id="selectedFilm"
						showEffect="ease-in" header="#{home.selectedFilm.title}">
						<co:selectedFilmDialog />
					</p:dialog>
				</h:panelGroup>
				<h:panelGroup layout="block" id="customerContent"
					rendered="#{content.customer}">
					<co:customerComposite staff="#{logIn.loggedStaff}" />

				</h:panelGroup>
				<h:panelGroup layout="block" id="inventoryContent"
					rendered="#{content.inventory}">
					<!-- Inventory -->
					<h:outputLabel value="INVENTORY" />

				</h:panelGroup>
				<h:panelGroup layout="block" id="paymentsContent"
					rendered="#{content.payments}">
					<!-- payments -->
					<h:outputLabel value="PAYMENTS" />

				</h:panelGroup>
				<h:panelGroup layout="block" id="rentalContent"
					rendered="#{content.rental}">
					<!-- rentals -->
					<h:outputLabel value="RENTAL" />

				</h:panelGroup>
				<h:panelGroup layout="block" id="staffDataContent"
					rendered="#{content.staffData}">
					<!-- staff data -->
					<h:outputLabel value="STAFF" />

				</h:panelGroup>
				<h:panelGroup layout="block" id="storeContent"
					rendered="#{content.store}">
					<!-- store data -->
					<h:outputLabel value="STORE" />

				</h:panelGroup>
			</h:panelGroup>
		</ui:define>
	</ui:composition>
</h:body>
</html>